# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtualenv
venv/
.env/
.env.*

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db